<div id="contact">
    <div class="contact-start">
        <img src="images/products/Icon home.svg" alt="">
        Contacts
    </div>
    <div class="img-map">
        <img src="images/contact/contact-map.svg" alt="">
    </div>
    <form id="Contactform" onsubmit="">
        <div class="contact">Come in Contact with Us</div>
        <div class="form-name">
            <input type="text" id="contact-Name" placeholder="Enter your Name here">
            <input type="email" id="contact-Email" placeholder="Enter your Email here">
        </div>
        <div class="form-message">
            <textarea type="textarea" id="contact-Message" placeholder="Comments" rows="4" form="messageForm"></textarea>
        </div>
        <div>
            <button class="btn5" id="Contact-Submit">Post Comments</button>
        </div>

    </form>

</div>    