<div id="customer-info">
    <div class="info-container">
        <div class="customer-container">
            <img src="images/customer/icon-support.svg" alt="">
            <p>Customer Support</p>
            <div class="info">Village did removed enjoyed explain talking.</div>
        </div>
        <div class="customer-container">
            <img src="images/customer/icon-payment.svg" alt="">
            <p>Secured Payment</p>
            <div class="info">Village did removed enjoyed explain talking.</div>
        </div>
        <div class="customer-container">
            <img src="images/customer/icon-delivery.svg" alt="">
            <p>Free Home Delivery</p>
            <div class="info">Village did removed enjoyed explain talking.</div>
        </div>
        <div class="customer-container">
            <img src="images/customer/icon-reuters.svg" alt="">
            <p>30 Day Reuters</p>
            <div class="info">Village did removed enjoyed explain talking.</div>
        </div>
    </div>
</div>

