<nav id="navbar-top">
    <nav class="navbar-container">
        <div id="logo">
            <img src="~/images/home/logo.svg" alt="">
        </div>
        <ul class="navbar-pages">
            <li><a asp-controller="Home" asp-action="Index">Home</a> </li>
            <li><a asp-controller="Home" asp-action="Index">Categories</a> </li>
            <li><a asp-controller="Home" asp-action="Index">Products</a> </li>
            <li><a asp-controller="Contact" asp-action="Index">Contacts</a> </li>            
        </ul>
        <div class="navbar-extra">
            <img src="~/images/home/icon.svg" alt="">
        </div>
    </nav>
</nav>