<div id="product-info">
    <div class="info-container">
        <div class="top-picks">
            <h3>Pamela Reif's Top Picks</h3>
            <button class="btn">SHOP NOW</button>
        </div>
        <div class="conscious">
            <h3>Let's Be <br>Conscious</h3>
            <button class="btn2">FLASE SALE</button>
        </div>
    </div>
    <div class="info-speciality-container">
        <div class="speciality">Our Speciality</div>
        <div class="speciality-container">
            <div class="small-container">
                <div class="text-container">
                    <h4>Track Your Order</h4>
                    <div class="a-link">Get Started ></div>
                </div>
                <img src="images/featured/placeholder2.svg">
            </div>
            <div class="small-container">
                <div class="text-container">
                    <h4>Make a Return</h4>
                    <div class="a-link">Get Started ></div>
                </div>
                <img src="images/featured/placeholder2.svg">
            </div>
            <div class="small-container">
                <div class="text-container">
                    <h4>Request a Price Adjustment</h4>
                    <div class="a-link">Get Started ></div>
                </div>
                <img src="images/featured/placeholder2.svg">
            </div>
        </div>
    </div>
</div>
