<div id="products-lists">
    <div class="products-container">
        <div class="products-latest">
            <div class="header2">Latest Product</div>
            <div class="product-container-small">
                <div class="img-container">
                    <img class="product-image" src="images/products/blouse.jpg" alt="">
                    <img class="placeholder2" src="images/featured/placeholder2.svg" alt="">
                    <img class="icons" src="images/featured/icon-extra.svg" alt="">
                    <button class="btn4">QUICK VIEW</button>
                </div>
                <div class="products-info">
                    <div class="Category">Category</div>
                    <div class="product-name">Modern Black Blouse</div>
                    <div class="rated">5 stars</div>
                    <div class="Price">
                        <div class="old-price">$35</div>
                        <div class="new-price">$30</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-best-selling">
            <div class="header2">Best Selling Product</div>
            <div class="product-container-small">
                <div class="img-container">
                    <img class="product-image" src="images/products/blouse.jpg" alt="">
                    <img class="placeholder2" src="images/featured/placeholder2.svg" alt="">
                    <img class="icons" src="images/featured/icon-extra.svg" alt="">
                    <button class="btn4">QUICK VIEW</button>
                </div>
                <div class="products-info">
                    <div class="Category">Category</div>
                    <div class="product-name">Modern Black Blouse</div>
                    <div class="rated">5 stars</div>
                    <div class="Price">
                        <div class="old-price">$35</div>
                        <div class="new-price">$30</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-reacted-product">
            <div class="header2">Top Reactes Product</div>
            <div class="product-container-small">
                <div class="img-container">
                    <img class="product-image" src="images/products/blouse.jpg" alt="">
                    <img class="placeholder2" src="images/featured/placeholder2.svg" alt="">
                    <img class="icons" src="images/featured/icon-extra.svg" alt="">
                    <button class="btn4">QUICK VIEW</button>
                </div>
                <div class="products-info">
                    <div class="Category">Category</div>
                    <div class="product-name">Modern Black Blouse</div>
                    <div class="rated">5 stars</div>
                    <div class="Price">
                        <div class="old-price">$35</div>
                        <div class="new-price">$30</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
