<div id="sale-up">
    <div class="sale-container">
        <div>
            <img src="images/sale/img1.svg" alt="">
        </div>
        <div class="sale">
            <h2>SALE UP <br> To 50% Off</h2>
            <div>Online shopping free home delivery over $100</div>
            <button class="btn">SHOP NOW</button>
        </div>
        <div>
            <img src="images/sale/img2.svg" alt="">
        </div>
    </div>
    <div class="sale-new">
        <div class="sale-1">
            <h3>Winter Clearance <br>Up to 70% Off!</h3>
            <div class="regular-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem apriam eaque ipsa quae ab illo inventore.</div>
            <button class="btn">SHOP NOW</button>
        </div>
        <div class="sale-2">
            <h3>New <br>Arrivals</h3>
            <button class="btn">SHOP NOW</button>
        </div>
    </div>
</div>
